@import "@fortawesome/fontawesome-free/css/all.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

.btn-rounded-full {
  @apply p-3 px-8 rounded-full bg-gradient-to-br from-sky-500 to-violet-800 text-white font-medium text-lg shadow-lg hover:shadow-sky-800 shadow-dark-700 cursor-pointer
}

.btn-rounded-full-sm {
  @apply p-2 px-8 rounded-full bg-gradient-to-br from-sky-500 to-violet-800 text-white font-medium text-lg shadow-lg hover:shadow-sky-800 shadow-dark-700 cursor-pointer
}

@media (min-width: 640px) {
  .box-scroll::-webkit-scrollbar {
    -webkit-appearance: none;
  }

  .box-scroll::-webkit-scrollbar:vertical {
    width: 8px;
  }

  .box-scroll::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  .box-scroll::-webkit-scrollbar-button:increment,
  .box-scroll::-webkit-scrollbar-button {
    display: none;
  }

  .box-scroll::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 20px;
    border: 2px;
  }

  .box-scroll::-webkit-scrollbar-track {
    @apply shadow-dark-950 shadow-inner;
    /* margin-top: 56px; */
    /* border-width: 2px;
  border-color: #1e1e23; */

    /* box-shadow: inset 0 0 2px #303030; */
  }
}

input:focus,
textarea:focus {
  @apply outline outline-offset-2 outline-sky-500;
}